*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1 {
    text-align: center;
    margin: 20px auto;
}
.main{
    display: flex;
    justify-content: center;
}

.button {
    margin: 1px;
    padding: 10px;
    width: 100px;
    height: 100px;
}

#brown{
    background-color: brown;
}

#purple {
    background-color: purple;
}

#lawngreen {
    background-color: lawngreen;
}

#blue {
    background-color: blue;
}
#grey{
    background-color:grey;
}
#pink{
    background-color: palevioletred;
}